<h3> This is the movies list component </h3>
<div>
  <h3> {{movie.title}} </h3>
  <div>
    <span> Episode:</span> {{movie.episode_id}}
  </div>
  <div>
    <span> Director:</span> {{movie.director}}
  </div>
  <div>
    <span> Producer:</span> {{movie.producer}}
  </div>
  <div>
    <span> Release Date:</span> {{movie.release_date}}
  </div>
  <div>
    <span> Opening Crawl:</span> <p>{{movie.opening_crawl}}</p>
  </div>
</div>