{{#each model.reviewList as |review| }}
  <h3> {{review.title}} </h3>
  <p> {{review.reviewText}} </p>
{{/each}}

<h3> Write a review </h3>
  <p>
    Title: <br>
    {{input id=frmTitlet value=model.newReview.title placeholder="Title"}}<br>
    {{textarea id=frmText cols="35" rows="8" value=model.newReview.reviewText placeholder="Review"}}<br>

    <button {{action 'addReview' model}}> Create Review </button>
  </p>